<table>
    <caption>
        <h1>PRODUCTOS REGISTRADOS</h1>
    </caption>

    <thead>
        <tr>
            <th>N°</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Imágen</th>
        </tr>
    </thead>
    <tbody>
        <% productos.forEach((prod) => {%>
            <tr key=<%= prod.id %>>
                <td><%= prod.id %></td>
                <td><%= prod.title %></td>
                <td><%= prod.price %></td>
                <td>
                    <img src=<%= prod.thumbnail %> width="30" />
                </td>
            </tr>
        <%}) %>
    </tbody>
</table>

<form action="/" method="GET">
    <button>Ingresar producto</button>
</form>